<!--
  Generated template for the ConversationListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the PleaseReadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
    <ion-toolbar [color]="toolbar">



    <ion-buttons left>

          <button ion-button icon-only (click)="cancel()">

             <ion-icon name="arrow-back"></ion-icon>

          </button>

      </ion-buttons>


      <ion-title>{{Title}}</ion-title>


    </ion-toolbar>


</ion-header>


<ion-content>
  <ion-list>
	 <span *ngFor="let item of messageList"> 
    <ion-item  (click)="getDetails(item)">
			<ion-icon item-start name="ios-mail-open-outline"></ion-icon>
				<h2>{{ item.From }}</h2> 
		
				<h3>{{ item.Subject }}</h3>
				<!-- <p [innerHTML]="item.body"></p> -->
				<h2 >{{item.Body}}</h2>
				<ion-icon *ngIf="item.AttachmentCount > 0" item-end name="ios-attach-outline"></ion-icon>
    </ion-item>
		</span>
    
    
  </ion-list>

  
</ion-content>


<ion-footer >
		
			<ion-toolbar color="primary">
						<ion-grid align-items-center>
							<ion-row>
								<ion-col col-5 align-self-center>
									
										<ion-buttons >
										<button ion-button icon-only   (click)="folderlist()">
											<ion-icon name="ios-folder-open-outline"></ion-icon>
										</button>
										</ion-buttons>
									
								</ion-col>
								<ion-col col-5 align-self-center>
									<ion-buttons >
										<button ion-button icon-only (click)="calc()">
											<ion-icon name="ios-calculator-outline"></ion-icon>
										</button>
										</ion-buttons>
								
								</ion-col >
								<ion-col col-5 align-self-center>
									<ion-buttons >
										<button ion-button icon-only (click)="readRequested()" >
											<ion-icon name="ios-card-outline"></ion-icon>
										</button>
										</ion-buttons>
								
								</ion-col>
								<ion-col col-5 align-self-center>
								

									<ion-buttons >
										<button ion-button icon-only (click)="searchPage()">
												<ion-icon name="ios-search-outline"></ion-icon>	
										</button>
										</ion-buttons>
								
								</ion-col>
								<ion-col col-5 align-self-center>
								
									

									<ion-buttons >
										<button ion-button icon-only (click)="newevent()">
									
											<ion-icon name="ios-calendar-outline"></ion-icon>
										</button>
										</ion-buttons>
								
								</ion-col>
								<ion-col col-5 align-self-center>
								
									

									<ion-buttons >
										<button ion-button icon-only (click)="compose()">
											<ion-icon name="ios-mail-open-outline"></ion-icon>
										</button>
										</ion-buttons>
								
								</ion-col>
							</ion-row>
						</ion-grid> 
						
						
				
			</ion-toolbar>
		
		</ion-footer>
